<!DOCTYPE html>
<title>Goal Buddies - <%= foreignUser.username %></title>
<% include ../header.ejs %>

<body>
    <div class="container">
        <% include ../topnav.ejs %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading"><%= foreignUser.username %></div>
                        <div class="panel-body">
                            Name:
                            <% if(relation != 2) { %> 
                                ? 
                            <% } else { %>
                                <%= foreignUser.fname + " " + foreignUser.lname %>
                            <% } %><br>
                            City: <%= foreignUser.city %>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>Pending Goals</h2>
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#recurring">Recurring</a></li>
                                <li><a data-toggle="tab" href="#onetime">One-Time</a></li>
                            </ul>
                            
                            <div class="tab-content">
                                <div id="recurring" class="tab-pane fade in active">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <% for(var i = 0; i < recurring.length; i++) { %>
                                            <% var hash = recurring[i]["hash"]; %>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="h<%= hash %>">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" 
                                                            data-parent="#accordion" href="#<%= hash %>"
                                                            aria-expanded="true" aria-controls="<%= hash %>">
                                                            <%= recurring[i]["body"] %>
                                                        </a>
                                                        
                                                    </h4>
                                                </div>
                                                <div id="<%= hash %>" class="panel-collapse collapse"
                                                    role="tabpanel" aria-labelledby=<%= hash %>>
                                                    <div class="panel-body">
                                                        Goal: <%= recurring[i]["body"] %><br>
                                                        Created: <%= recurring[i]["created"] %><br>
                                                        <% if(recurring[i]["finished"] != null) { %>
                                                            Last Finish Date: <%= recurring[i]["finished"] %><br>
                                                        <% } %>
                                                        Expiration Date: <%= recurring[i]["eta"] %><br>
                                                        Times Completed: <%= recurring[i]["times"] %><br>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                                <div id="onetime" class="tab-pane fade">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <% for(var i = 0; i < onetime.length; i++) { %>
                                            <% var hash = onetime[i]["hash"]; %>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="h<%= hash %>">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" 
                                                            data-parent="#accordion" href="#<%= hash %>"
                                                            aria-expanded="true" aria-controls="<%= hash %>">
                                                            <%= onetime[i]["body"] %>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="<%= hash %>" class="panel-collapse collapse"
                                                    role="tabpanel" aria-labelledby=<%= hash %>>
                                                    <div class="panel-body">
                                                        Goal: <%= onetime[i]["body"] %><br>
                                                        Created: <%= onetime[i]["created"] %><br>
                                                        Estimated Finish Date: <%= onetime[i]["eta"] %><br>
                                                        Times Motivated: <%= onetime[i]["times"] %><br>
                                                        <form action="/goal/finish" method="POST">
                                                            <input type="hidden" name="hash" value="<%= hash %>">
                                                            <button type="submit" class="btn btn-success btn-sm ">Motivate!</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</body>
</html>
